
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* FONTS */

/* VARIÁVEIS */
:root{
    --color-primary: #FFF;
    --color-primary-light: #007aff;
    --color-primary-dark: #00043e;
    --color-secondary: #303030;
    --color-secondary-light: #818181;
    --font-title_and_text: 'Lato', sans-serif;
}
  
/* GERAL */
html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
} 
 
/* GERAL */


/* VARIÁVEIS */
:root{
    --color-primary: #FFF;
    --color-primary-light: #007aff;
    --color-primary-dark: #00043e;
    --color-secondary: #303030;
    --color-secondary-light: #818181;
}

/****** CONTENT ******/
body {
    font-family: 'Lato';
    color: var(--color-secondary-light);
}

h2 {
    font-family: 'Montserrat';
}

/****** CABEÇALHO ******/
.topo {
    background-color: var(--color-primary-dark);
    padding: 20px;
}
div.large-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* LOGO */
.topo__figure {}
.topo__image {
    width: 60px;
}
.topo__caption {
    display: none;
}

/* MENU DE NAVEGAÇÃO */
.topo__nav-mobile {}
.nav-mobile__image {
    cursor: pointer;
    width: 25px;
}

.topo__nav {
    display: none;
}
.topo__list {}
.topo__item {}
.topo__link {}

/****** PÁGINA INICIAL ******/
.inicial {}

/*** ÁREA DE DESTAQUE ***/
.secao-destaque {
    color: var(--color-primary);
    background-color: var(--color-primary-dark);
    padding: 0 50px 150px;
    display: grid;
    justify-items: center;
    text-align: center;
    margin-bottom: 100px;
}
.secao-destaque__title {
    font-size: 2rem;
    font-weight: 400;
}
.secao-destaque__paragraph {
    font-family: 'Montserrat';
    font-size: 21px;
    margin: 20px 0;
}

/* FORMULÁRIO */
.secao-destaque__form {
    width: 100%;
    display: flex;
    justify-content: center;
}
.secao-destaque__input {
    width: 100%;
    font-family: 'Montserrat';
    border: 1px solid transparent;
    outline: 0;
    padding: 10px;
    border-radius: 4px 0 0 4px;
    transition: .3s all;
    box-sizing: border-box;
}
.secao-destaque__input:focus {
    color: var(--color-primary);
    background-color: var(--color-primary-light);
    border: 1px solid var(--color-primary);
    border-right: none;
}
.secao-destaque__input:focus ~ .secao-destaque__button {
    color: var(--color-secondary-light);
    background-color: var(--color-primary);
}
.secao-destaque__input:focus::-webkit-input-placeholder {
    color: var(--color-primary);
}
.secao-destaque__button {
    font-family: 'Montserrat';
    font-size: 14px;
    border: 1px solid transparent;
    outline: 0;
    padding: 10px;
    color: var(--color-primary);
    background-color: var(--color-primary-light);
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: .3s all;
    box-sizing: border-box;
}
.secao-destaque__form .secao-destaque__button:hover {
    color: var(--color-primary);
    background-color: var(--color-primary-dark);
    border: 1px solid var(--color-primary);
    border-left: none;
}

/*** SEÇÃO SOBRE ***/
.secao-sobre {
    font-size: 15px;
}
.secao-sobre__article {}

/* COLUNA ESQUERDA */
.secao-sobre__column {
    padding: 0 65px 0;
}
.secao-sobre__column--center-image {
    display: flex;
    justify-content: center;
}
.secao-sobre__column--padding-1 {
    margin: 0;
    padding: 50px 65px 75px;
}
.secao-sobre__column--padding-2 {
    margin: 0;
    padding: 75px 65px 15px;
}
.secao-sobre__column--background {
    background-color: #F6F6F6;
}
.secao-sobre__title {
    color: var(--color-secondary);
    font-size: 22px;
    margin-bottom: 100px;
    font-weight: 600;
}
.secao-sobre__title--center-bolder {
    text-align: center;
    font-weight: 700;
}
.secao-sobre__paragraph {
    color: var(--color-secondary);
    font-size: 19px;
    margin-bottom: 50px;
}
.secao-sobre__span {
    display: block;
    margin-bottom: 50px;
    line-height: 25px;
}
.secao-sobre__button {
    width: 100%;
    font-family: 'Lato';
    font-size: 19px;
    color: var(--color-secondary);
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid var(--color-secondary-light);
    outline: 0;
    padding: 15px;
    cursor: pointer;
    transition: .3s all;
}
.secao-sobre__button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--color-primary-dark);
    color: var(--color-primary);
}

/* COLUNA DIREITA E PRÓXIMA ESQUERDA*/
.secao-sobre__figure {
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
}
.secao-sobre__image {
    width: 100%;
    object-fit: cover;
}
.secao-sobre__caption {
    display: none;
}

/* COLUNA DIREITA */
.secao-sobre__list {
    list-style-type: disc;
    padding: 0 0 50px 50px;
}
.secao-sobre__item {
    font-family: 'Lato';
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
}

/*** SEÇÃO CURSOS ***/
.secao-cursos {
    padding: 50px 65px;
    font-size: 15px;
}
.secao-cursos__article {
    text-align: center;
}
.secao-cursos__title {
    font-family: 'Lato';
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-secondary);
    margin-bottom: 25px;
}
.secao-cursos__paragraph {
    font-family: 'Montserrat';
    font-size: 19px;
    font-weight: 500;
    color: var(--color-secondary);
}

/* LISTA DE CURSOS */
.secao-cursos__list {
    text-align: center;
    margin-top: 50px;
}
.secao-cursos__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.secao-cursos__figure {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}
.secao-cursos__image {
    width: 100%;
    object-fit: scale-down;
}
.secao-cursos__item-title {
    font-family: 'Lato';
    font-size: 19px;
    font-weight: 500;
    color: var(--color-secondary);
    margin-bottom: 30px;
}
.secao-cursos__item-paragraph {
    font-family: 'Lato';
    line-height: 25px;
}

/* SEÇÃO CALENDARIO */
section.secaoCalendar{
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 65px;
}

section.secaoCalendar h2.secaoCalendar__title{
    font-family: var(--font-title_and_text);
    font-size: 28px;
    color: var(--color-secondary);
}
section.secaoCalendar p.secaoCalendar__text{
    font-family: var(--font-title_and_text);
    padding: 0px 20px;
    color: var(--color-secondary);
    font-size: 19px;
    margin: 30px 0px 10px;
}

/* LISTA CALENDÁRIO */
section.secaoCalendar ul.calendario{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1900px;
    justify-content: space-evenly;
}

/* DIAS DO CALENDÁRIO */
section.secaoCalendar ul.calendario li{
    border: 1px solid var(--color-primary-dark);
    width: 230px;
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

span.calendario__data{
    font-family: var(--font-title_and_text);
    height: 120px;
    width: 100%;
    background-color: var(--color-primary-dark);
    color: var(--color-primary);
    font-size: 36px;
    display: block;
    line-height: 120px;
}

section.secaoCalendar ul.calendario li h3{
    font-family: var(--font-title_and_text);
    font-weight: normal;
    font-size: 25px;
    color: var(--color-secondary);
}

section.secaoCalendar ul.calendario li p.calendario__text{
    font-family: var(--font-title_and_text);
    font-size: 15px;
    color: var(--color-secondary-light) ;
    width: 200px;
    line-height: 25px;
}

div.calendario__data__rodape{
    border-top: 1px solid var(--color-secondary-light);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 25px;
}

span.calendario__data__rodape__hour{
    font-family: var(--font-title_and_text);
    font-size: 36px;
    color: var(--color-secondary-light);
}

button.calendario__data__rodape__button{
    font-family: var(--font-title_and_text);
    font-size: 22px;
    width: 190px;
    height: 43px;
    box-sizing: border-box;
    border: none;
    background-color: var(--color-primary-light);
    color: var(--color-primary);
    border-radius: 7px;
    margin: 18px;
}

/* SEÇÃO CONTATO */
   .secaoContato{
    padding: 40px;
    font-size: 15px;
    color: #818181;
     background-color: #F6F6F6
}

.flex{
     display: flex;
     flex-direction: column;
     align-items: center;
     flex-grow: 1;
   
     
}

.list-especification{
    margin-left: 0;
    text-decoration: auto;
    color: #818181;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    line-height: 35px;
}

.flex-col{
    justify-content: center;
}

.secaoContato-informacoes{
    line-height: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secaoContato-informacoes--p{
    padding-left: 50px;
    width: 282px;
}

.contact-h2{
    text-transform: uppercase;
    color: #303030;
 
}

.form-input-model{
    padding: 8px;
}

.flex-col--label{
    display: none;
}

.input-size{
    padding: 10px;
    border-radius: 4%;
    border-width:  1px;
    border-style: double;
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form-comment{
    padding: 10px;
    border-radius: 4%;
    border-width: 1px;
    width: 199px;
    height: 120px;
    border-style: double;
}

.form-submit{
    padding: 7px;
    max-width: 50px;
    border-radius: 13%;
    border-width: 1px;
    border-style: double;
    background-color: white;
    margin-right: 8px;
}

img.icon-contact{
    max-height: 1.6rem;
}

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;

}

.decoration{
    display: none;
}


@media screen and (min-width: 1000px) {
    /****** CABEÇALHO ******/
    div.large-container {
        align-items: center;
        justify-content: space-around;
    }

    /* MENU DE NAVEGAÇÃO */
    .topo__nav-mobile {
        display: none;
    }
    .topo__nav {
        display: block;
    }
    .topo__list {
        display: flex;
    }
    .topo__item {
        margin-left: 20px;
    }
    .topo__link {
        font-family: 'Montserrat';
        font-size: 13px;
        letter-spacing: 3px;
        text-decoration: none;
        color: var(--color-primary);
        transition: .3s all;
    }
    .topo__link::after {
        display: block;
        content: '';
        border-bottom: solid 1px var(--color-primary);
        transform: scaleX(0);
        transition: .3s all;
    }
    .topo__link:hover::after {
        transform: scaleX(1);
        transform-origin: center;
    }
    /****** PÁGINA INICIAL ******/

    /*** ÁREA DE DESTAQUE ***/
    .secao-destaque {
        background-image: url(../img/background-destaque.webp);
        background-size: cover;
        background-position: right;
        padding: 150px;
    }
    .secao-destaque__title {
        font-size: 63px;
    }
    
    /* FORMULÁRIO */
    .secao-destaque__form {
        width: 50%;
    }
    
    /*** SEÇÃO SOBRE ***/

    .secao-sobre__article {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .secao-sobre__column {
        width: 40%;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        padding: 100px 0;
        text-align: left;
    }
    .secao-sobre__column--center-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .secao-sobre__column--padding-1,
    .secao-sobre__column--padding-2 {
        margin: 0;
        padding: 0;
    }
    .secao-sobre__column--background::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #F6F6F6;
        transform: scaleX(1.5);
        z-index: -1;
    }
    .secao-sobre__title {
        font-size: 24px;
        margin-bottom: 100px;
    }
    .secao-sobre__button {
        width: auto;
        align-self: start;
    }
    .secao-sobre__figure {
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
    }

    /*** SEÇÃO CURSOS ***/
    .secao-cursos {}
    .secao-cursos__article {}
    .secao-cursos__title {
        font-size: 19px;
    }
    .secao-cursos__paragraph {}

    /* LISTA DE CURSOS */
    .secao-cursos__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .secao-cursos__item {
        margin-bottom: 50px;
    }
    .secao-cursos__item--start {
        justify-self: start;
    }
    .secao-cursos__item--end {
        justify-self: end;
    }
    .secao-cursos__figure {}
    .secao-cursos__image {}
    .secao-cursos__item-title {
        font-size: 15px;
    }
    .secao-cursos__item-paragraph {
        font-size: 15px;
    }

    section.secaoCalendar ul.calendario{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 650px;
        width: 1000px;
        justify-content: space-between ;
    }

    section.secaoCalendar ul.calendario li{
        border: 1px solid var(--color-primary-dark);
        width: 320px;
        height: 560px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    section.secaoCalendar ul.calendario li p.calendario__text{
        font-family: var(--font-title_and_text);
        font-size: 15px;
        color: var(--color-secondary-light) ;
        width: 290px;
        line-height: 25px;
    }

    button.calendario__data__rodape__button{
        font-family: var(--font-title_and_text);
        font-size: 32px;
        width: 150px;
        height: 50px;
        box-sizing: border-box;
        border: none;
        background-color: var(--color-primary-light);
        color: var(--color-primary);
        border-radius: 7px;
        margin: 18px;
    }

    /* SEÇÃO CONTATO */
    .secaoContato{
        position: relative;
        background-color: #F6F6F6;
    }

    .secaoContato-informacoes{
        margin-bottom: 34px;
    }
    .secaoContato-informacoes--p{
        margin-left: -17px;
        flex-wrap: wrap;
    }
        
    .flex{
        display: flex;
        flex-direction:row;
        justify-content: center;
    }

    .flex-col{
        margin-top: 25px;
    }
    .contact-h2{
        position: absolute;
        right: 44%;
        top: 10%;
        transform: translateX(50%);
        color: #303030;
    }

    form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 450px;
        justify-content: flex-end;
        margin-left: 157px;
    }
    .form-comment{
        width: 417px;
    }
    footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 0;
    }
    .decoration{
        display: flex;
    }
}
